* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

.text {
    font-size: 16px;
    line-height: 1.5;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

.link {
    text-decoration: none;
    color: inherit;
    list-style: none;

}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*------------styles index-----------------------------*/
* {
    box-sizing: border-box;
}

.container {
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}

section {
    padding: 60px 0;
}